/*Media Quesries*/
* {
  box-sizing: border-box;
}
.imgmain {
  width: 60%
}
.divformainlogo {
  margin-left: 40%;
  width: 20%;
}
/*column for main images*/
.columnformain1 {
  float: left;
  padding: 0px; 
  width: 42%;
}
/*column for main images*/
.columnformain2 {
  float: left;
  padding: 0px; 
  width: 42%;
  margin-left: 16%;
}
/*column for 2nd page elements*/
.columnformedia {
  float: left;
  width: 33%;
  padding: 20px;
}
/*flowchart page elements*/
.columnforflowchart {
  float: left;
  margin-left: 10%;
  width: 15%;
  padding: 20px;
}
.columnforflowcharttext {
  float: left;
  margin-left: 10%;
  width: 60%;
  padding: 20px;
}
.flowchartimg {
  width: 100%;
}
.divforform {
  border: solid 1px #1d1d1d;
  background: #ccf5ffbb;
  border-radius: 10px;
  padding: 1%;
  margin-left: 30%;
  width: 40%;
  box-shadow: 8px 10px #5555557a;
}
.rowformedia:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 768px) {
  .columnformedia {
      width: 100%;
  }
  .divforform {
      margin-left: 0%;
      width: 100%;
  }
  .columnformain1 {
    width: 100%;
  }
  .columnformain2 {
    width: 100%;
    margin-left: 0%;
  }
  .imgmain {
    width: 100%;
  }
  .divformainlogo {
    margin-left: 0%; 
    width: 100%;
  }
  .columnforflowchart {
    margin-left: 0%;
    width: 100%;
  }
}
/*End of Media Queries*/
/*Animation Stuff*/
.slideup:hover .mainimage {
  -webkit-transform: scale(0.65) translateY(-125px);
    transform: scale(0.65) translateY(-125px);
}
.slideup:hover .maincard {
  transform: translateY(-125px);
  opacity: 1;
}
/*End of Animation Stuff*/
.parafont {
  font-family: Arial, Helvetica, sans-serif;
  color: #1d1d1d;
}
.headfont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.linkfont {
  text-decoration: none;
  color: dodgerblue;
}
.mainimage {
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
}
.maincard {
  transition: display 1s, opacity 1s, transform 1s;
  opacity: 0;
}
/*Coloring stuff*/
.text {
	color: #1d1d1d;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
  font-size: 28px;
  text-align: center;
}
.formbodytext {
  color: #242019;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: right;
  margin-right: 10%;
}
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 5px 5px;
  margin: 8px 0;
  border: 1px solid #949494;
  border-radius: 4px;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border: 3px solid #3d95fa;
}
.btn {
	background: linear-gradient(#F2C963,#d8a525);
  width: 50%;
  border: none;
  color: #1d1d1d;
  padding: 8px 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 5%;
  cursor: pointer;
	border-radius: 3px;
}
.btn:hover {
	background: linear-gradient(#F2C963,#d8a525);
}
/*End of Coloring Stuff*/
